<%= erb :'partials/_logout' %> <!-- logout partial -->
<html>
<head>
  <title></title>
</head>

<body>
  <div id="user_card_wrapper"</div>
      <div class="user_card_image">
        <img id="user_img" src="/imgs/headshot.jpg">
      </div>

      <div class="user_card_text"
        <% @user.attributes.each do |key, value| %>
          <p><%= key %>: <%= value %></p>
        <% end %>
      </div>
  </div>

  <div id="all_items_wrapper"</div>
    <% @all_items.each do |item| %>
      <div class="item_card">
        <img class="item_img" src="<%= item[:photo_url]%>">
        <p><%= item[:name] %> </p>
      </div>
    <% end %>
  </div>


</body>

</html>




